/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.spacer {
    margin-left: 2.5em;
  }

  .comtainer {
    margin: 2.5em;
  }

  .mat-raised-button {
    margin-left: 2.5em;
  }

  #img_size {
    width: 100px; 
    height: 100px
  }